# for 반복문

In [1]:
for i in range(10):
    print("=")

=
=
=
=
=
=
=
=
=
=

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10):
    print("=" + str(i) + "=")
    #숫자를 문자로 쓸때 str을 쓴다. 쓰지않으면 에러가 남

=0=
=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=

# 연습문제 3.2.19~21

In [7]:
for i in range(10):
    print("*"*i)
    #숫자를 문자로 쓸때 str을 쓴다. 쓰지않으면 에러가 남

*
**
***
****
*****
******
*******
********
*********

In [8]:
for i in range(10):
    print("*"*(10-i))
    #숫자를 문자로 쓸때 str을 쓴다. 쓰지않으면 에러가 남

**********
*********
********
*******
******
*****
****
***
**
*

In [10]:
for i in range(10):
    print("*"*i)
    #숫자를 문자로 쓸때 str을 쓴다. 쓰지않으면 에러가 남
for i in range(10):
    print("*"*(10-i))
    #숫자를 문자로 쓸때 str을 쓴다. 쓰지않으면 에러가 남

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
for i in range(10):
    print("*"*1)

In [12]:
"[%5s]" % "*"

'[    *]'

In [16]:
for i in range(4):
    for j in range(4):
        print(i+j, end="")
    print()

0123
1234
2345
3456

In [17]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        print(n1, n2)
#주사위 모든 경우의 수

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [19]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        n = n1 + n2
        if n % 4 == 0:
            print(n1, n2)
#주사위 모든 경우의 수에 if문 추가 해서 합이 4의 배수인것만 뽑게 조건을 줄 수 있다.

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

# 연습문제 3.2.23

In [47]:

for i in range(2):
    n4 = 1024
    n1= i
    if n1==0 :
        n5=n4*2
    else:
        n5=n4/2
    
    for j in range(2):
        n2 = j
        if n2==0:
            n6=n5*2
        else:
            n6=n5/2
        for z in range(2):
            n3 = z
            print(n1,n2,n3)
          
            if n3==0:
                n7=n6*2
            else:
                n7=n6/2
            print(n7)

0 0 0
8192
0 0 1
2048.0
0 1 0
2048.0
0 1 1
512.0
1 0 0
2048.0
1 0 1
512.0
1 1 0
512.0
1 1 1
128.0

# 카운터 변수가 ㅂ

In [50]:
n = 5

sum = 0
for i in range(n):
    sum = sum + (i + 1)
print(sum)

15