In [1]:
a=[90,85,95,80,90,100,85,75,85,80]
a

[90, 85, 95, 80, 90, 100, 85, 75, 85, 80]

In [2]:
len(a)

10

In [3]:
sum=0
for i in range(len(a)):
    sum = sum + a[i]
average = sum / len(a)
average

86.5

In [4]:
sum

865

In [5]:
s = []
a1=[90,85,95,80,90,100,85,75,85,80]
a2=[95,90,90,90,95,100,90,80,95,90]
for i in range(len(a1)):
    s.append(a1[i] + a2[i])
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [6]:
#지금까지는 for 반복문을 사용할 때 range 명령으로 리스트에 적용할 인덱스 정수를 만들어서 리스트의 원소 값을 찾았다. 하지만 for 반복문에서 리스트의 원소를 직접 뽑아 임시 변수에 넣을 수도 있다.

#지금까지 반복문에서 사용해 온 range 명령은 사실 리스트를 만드는 명령이다.
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in [1,3,5]:
    print("*")
#list 안의 수는 순서랑은 상관이 없고  리스트다.

*
*
*

In [11]:
sum=0
for ai in a:
    sum = sum + ai
average = sum / len(a)
average

86.5

In [13]:
#zip 함수는 리스트 두개 묶어서 짝짝이로 리스트를 만들어준다.
list(zip(a1, a2))

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

In [14]:
#신기하다 이 예제를 알아 놓으면 좋을듯
s = []
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for a1i, a2i in zip(a1, a2):
    s.append(a1i + a2i)
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

In [17]:
# enumereate 함수는 정수 인덱스와 리스트 원소 반복을 동시에 수행한다
for i, e in enumerate(["a", "b", "c","d"]):
    print("i = %d, e = %s" % (i,e))

i = 0, e = a
i = 1, e = b
i = 2, e = c
i = 3, e = d

In [52]:
s = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for i, (a1i, a2i) in enumerate(zip(a1, a2)):
    s[i] = a1i + a2i
    print("i = %d"%(i))

enumerate(a1)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

In [55]:
enumerate(["a", "b", "c","d"])

In [19]:
X = [[85,  90,  20,  50,  60,  25,  30,  75,  40,  55],
     [70, 100,  70,  70,  55,  75,  55,  60,  40,  45],
     [25,  65,  15,  25,  20,   5,  60,  70,  35,  10],
     [80,  45,  80,  40,  75,  35,  80,  55,  70,  90],
     [35,  50,  75,  25,  35,  70,  65,  50,  70,  10]]

In [20]:
sum = 0
num = 0
for i in range(len(X)):
    for j in range(len(X[i])):
        num = num + 1
        sum = sum + X[i][j]
sum / num

52.7

In [26]:
len(X[0])

10

# 연습문제 3.2.29

In [27]:
#성적
X=[4,3,2,3,4]

In [28]:
#이수 학점
W=[3,3,1,2,2]

In [36]:
sum=0
sun=0
s=[0,0,0,0,0]
for i, (Xi, Wi) in enumerate(zip(X,W)):
    s[i] = Xi * Wi
    sum=sum+s[i]
    sun=sun+W[i]
    
    


sum/sun

3.3636363636363638

In [37]:
X=[6,5,4,7,3,5]
X

[6, 5, 4, 7, 3, 5]

In [68]:
b=0
sum=0
for i,g in enumerate(X) :
    sum=sum+g
    moon=sum/len(X)
    b=(b+(g-moon)**2)/len(X)
b

0.09281049954275265

In [57]:
#두개씩 증가 시키고 싶을때
for i in range(0,5,2):
    print(i)

0
2
4